@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

*{
	box-sizing: border-box;
}

/*global styles*/
body
{
	font-family: "Montserrat", sans-serif;
}
.container
{
	max-width: 61.475em;
	margin: 0 auto;
}
.space-top
{
	padding: 1.1em .6125em;
}
.clearFix
{
	clear: both;
	overflow: hidden;
}
/*efeito hover nos links de navegção do header*/
#main-menu a:hover, #genero a:hover
{
	transition: color .3s ease-in-out;
	color: #e4bb23;
}
/*header styles*/
/*menu, logo and profile picture*/
header
{
	background-image: url(../img/capa-madmax2.jpg);
	background-attachment: fixed;
	background-size: cover;
	position: relative;
}
header:after
{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: linear-gradient(to top, rgba(0, 0, 0, .6) 0%, rgba(0, 212, 255, 0) 80%);
}
#top-content nav, #top-content li, #top-content #perfil, #perfil img, #perfil p
{
	display: inline-block;
	z-index: 1;
}
#top-content a img
{
	margin-right: 6.35em;
	vertical-align: top;
}
#top-content
{
	font-size: 1.3em;
}
#main-menu ul li
{
	font-size: .6875em;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
	vertical-align: top;
	position: relative;
	top: -.5em;
}
#main-menu a
{
	color: white;
	text-decoration: none;
}
#main-menu li:nth-child(2)
{
	margin: 0 2.55em;
}
#perfil img
{
	width: 2.25em;
	border-radius: 50%;
}
#perfil
{
	margin-left: 7.5em;
}
#perfil p
{
	font-size: 0.6875em;
	position: relative;
	top: -1.05em;
	margin-left: .5em;
	font-weight: bold;
	text-transform: capitalize;
	color: white;
}
#title
{
	position: relative;
	z-index: 1;
	padding-bottom: .5em;
}
#title h1
{
	font-weight: bold;
	text-transform: uppercase;
	font-size: 4em;
	color: #fff;
	padding-left: .2em;
}
#genero ul li
{
	display: inline-block;
	position: relative;
	top: -2em;
	left: -1.3em;
}
#genero a
{
	text-transform: uppercase;
	color: white;
	font-weight: 300;
	font-size: .8em;
	text-decoration: none;
}
#genero li:nth-child(2)
{
	margin: 0 .8em;
}
#trailer
{
	display: inline-block;
	position: relative;
	top: -.7em;
	left: .8em;
	background: #e4bb23;
	padding: 0.6em 1.9em;
	height: 3.3em;
	border-radius: 1.5em;
	text-transform: capitalize;
	color: black;
	text-decoration: none;
	text-align: center;
}
#trailer:after
{
	content: "";
	display: block; 
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 1.4375em;
}
#trailer:hover:after
{
	transition: all .5s ease-in-out;
	background: rgba(0, 0, 0, .3);
}
i[class^=fa]
{
	color: black;
	font-size: 1.5em;
	margin-left: .5em;
	position: relative;
	top: .12em;
}
#information
{
	display: block;
	margin-left: .8em;
	font-size: .9em;
	font-weight: 300;
	margin-bottom: 2.95em;
}
#information p:first-child
{
	text-transform: capitalize;
	color: white;
}
#information p:last-child
{
	color: #bc9a1d;
}